.grid-container {
    margin: 20px;
  }
  
  .product-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    max-height: 180px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .product-card-content {
    text-align: center;
  }

  .product-card-action{
      color:white;
      text-align: center;
      font-size: 18px;
      background-color: darkblue;
      justify-content: center;
  }